# Logs
logs
*.log

# TypeScript build files
/backend/dist
/frontend/dist

# Coverage directories
/backend/coverage
/frontend/coverage

# Dependency directories
node_modules
package-lock.json
pnpm-lock.yaml

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.*.local
.env.local

.next

.idea

